RewriteEngine On 
RewriteCond %{HTTPS} off 
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]


RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

#RewriteRule ^edition/([0-9a-zA-Z_-]+) edition.php?title=$1 [NC,L]
#RewriteRule ^manuscript/([0-9a-zA-Z_-]+) manuscript.php?title=$1 [NC,L]